<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="/static/style/style.css">
    <noscript>
        <link rel="stylesheet" href="/static/style/style.css" />
    </noscript>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="title" content="Download - CipherShare">
    <meta name="description" content="Upload a file and share it with friends knowing its safely stored as an encrypted blob on our servers">
    <meta name="dcterms.rightsHolder" content="CipherShare">
    <meta name="dcterms.dateCopyrighted" content="2024">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta name="bingbot" content="noindex">
    <meta name="theme-color" content="#ffffff">
    <title>Download {{ .key }} - CipherShare</title>
    <script src="https://code.jquery.com/jquery-4.0.0-beta.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="/static/js/email-tags.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/gfx/branding/favicon.webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap">
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    </noscript>
</head>
<body>
<div class="main-content-wrapper">
    <div class="title-image-wrapper">
        <img class="title-image" src="/static/gfx/branding/logo.webp" alt="CipherShare - Logo" />
    </div>
    <div class="generic-content-wrapper">
        <h1 class="generic-form-label">Your file is ready to be downloaded</h1>
        <p class="label-description">Thank you for using CipherShare</p>
        <a class="submit-button-imitator" href="/download/{{ .key }}" download>Download</a>
        <p class="label-description center">Have more secure files to share? <a class="generic-link" href="/">Upload a new file</a></p>
    </div>
</div>
</body>
</html>
