<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="/static/style/style.css">
    <noscript>
        <link rel="stylesheet" href="/static/style/style.css" />
    </noscript>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="title" content="Upload - CipherShare">
    <meta name="description" content="Upload a file and share it with friends knowing its safely stored as an encrypted blob on our servers">
    <meta name="dcterms.rightsHolder" content="CipherShare">
    <meta name="dcterms.dateCopyrighted" content="2024">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="theme-color" content="#ffffff">
    <title>Upload - CipherShare</title>
    <script src="https://code.jquery.com/jquery-4.0.0-beta.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="/static/js/email-tags.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/gfx/branding/favicon.webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap">
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    </noscript>
</head>
<body>
<div class="main-content-wrapper">
    <div class="title-image-wrapper">
        <img class="title-image" src="/static/gfx/branding/logo.webp" alt="CipherShare - Logo" />
    </div>
    <form class="generic-form" method="POST" enctype="multipart/form-data">
        <div class="form-section-wrapper">
            <label for="emails" class="generic-form-label required">Emails</label>
            <p class="label-description">Enter at least one email address. You can enter multiple emails separated by commas. Any email entered into the system will be able to download the file you upload.</p>
            <textarea class="generic-form-input" id="emails" name="emails" placeholder="email@example.com, email2@example.com"></textarea>
            <div class="email-tags-wrapper" id="email-tags"></div>
        </div>
        <div class="form-section-wrapper">
            <label for="file-upload" class="generic-form-label required">File Upload</label>
            <p class="label-description">Upload a file to share or store online. The file will be encrypted and will only be related to you by your email. You will always be able to download this file by using the generated download link and entering the one time password that is sent to your email.</p>
            <label for="file-upload" class="file-drag-drop-wrapper">
                <span class="hint">Drag and Drop Files</span>
                or
                <input type="file" id="file-upload" name="fileUpload" class="file-input-field">
            </label>
        </div>
        <button class="submit-button" type="submit">Save and Upload</button>
    </form>
</div>
</body>
</html>